<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="logo" size="24"></clr-icon>
        <span class="title">Theming Clarity</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink class="active">
        <clr-icon clrVerticalNavIcon shape="calendar"></clr-icon>
        Calendar
      </a>
      <a clrVerticalNavLink>
        <clr-icon clrVerticalNavIcon shape="cloud"></clr-icon>
        Cloud
      </a>
      <a clrVerticalNavLink>
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        User
      </a>
      <a clrVerticalNavLink>
        <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>
        Settings
      </a>
    </clr-vertical-nav>
    <div class="content-area">
      <clr-alert [clrAlertClosable]="false" clrAlertType="info">
        <clr-alert-item>
          <span class="alert-text">
            Using CSS custom properties is the preferred approach to theming Clarity starting in version 3.0.0. After Clarity 4.0, it will be the only theming method that Clarity will support.
          </span>
        </clr-alert-item>
      </clr-alert>
      <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-12">
          <div class="card">
            <div class="card-header">
              Whitelabel Switcher (JS)
            </div>
            <div class="card-block">
              <div class="card-text">
                <p>Use the select box below to switch between themes.<br>
                <select clrSelect [(ngModel)]="theme" name="currentTheme" (change)="changeTheme($event.target.value)">
                  <option value="default">Default</option>
                  <option value="blue">Blue</option>
                  <option value="orange">Orange</option>
                </select>
                </p>
                <br>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">Footer Action 1</button>
              <button class="btn btn-sm btn-link">Footer Action 2</button>
            </div>
          </div>
        </div>
        <div class="clr-col-lg-6 clr-col-12">
          <div class="card">
            <div class="card-block">
              <div class="card-title">
                Form in a Card
              </div>
              <div class="card-text">
                <form clrForm>
                  <clr-input-container>
                    <label>Field 1 label</label>
                    <input clrInput type="text" [(ngModel)]="model.field1" name="example1" />
                  </clr-input-container>
                  <clr-input-container>
                    <label>Field 2 label</label>
                    <input clrInput type="text" [(ngModel)]="model.field2" name="example2" />
                  </clr-input-container>
                  <p><button class="btn btn-default">Ok</button></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
