<div class="main-container">
	<header class="header-2">
		<div class="branding">
			<a class="nav-link">
				<clr-icon shape="logo" size="24"></clr-icon>
				<span class="title">Theming Clarity</span>
			</a>
		</div>
		<div class="header-nav">
			<a class="active nav-link nav-text">Home</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
			<h3>Theming Clari†y TODO:</h3>
			<ul>
				<li>Get app working and using Clarity SASS (not CSS)</li>
				<li>Add reasonable componentry to app (cards? forms? buttons? vertical nav?)</li>
				<li>Add alert that can be used/reused for deprecation warnings and info</li>
				<li>Stop and begin branching to create SASS vs. CSS var themes</li>
			</ul>

      <h3>Themes to cover:</h3>
			<ul>
				<li>Vanilla SASS-based theming</li>
				<li>CSS var based theming</li>
				<li>CSS var based white-labeling</li>
				<li>CSS var based theme switching (with pony/polyfills)</li>
			</ul>
		</div>
	</div>
</div>
