// NOTE: If your application must support IE11, you must define all your custom properties
//       in the `:root {}` selector. Otherwise, the polyfills we use will not recognize 
//       the overrides in IE. Try to limit the number of `:root {}` declarations in your CSS.
//       It's not a performance issue. It's just saner to maintain.

:root {
    // NOTE: In all cases relating to Clarity SASS variables, the names for the custom properties
    //       are identical. Replace the leading `$` with `--`.

    --clr-global-borderradius: 0;

    // FROM @clr/angular/color/_properties.color.scss

    // Neutral palette -- text, backgrounds, and content

    --clr-color-neutral-0: hsl(120, 34%, 100%);
    --clr-color-neutral-50: hsl(120, 34%, 98%);
    --clr-color-neutral-100: hsl(120, 34%, 95%);
    --clr-color-neutral-200: hsl(120, 34%, 91%);
    --clr-color-neutral-300: hsl(120, 34%, 87%);
    --clr-color-neutral-400: hsl(120, 34%, 80%);
    --clr-color-neutral-500: hsl(120, 34%, 70%);
    --clr-color-neutral-600: hsl(120, 34%, 55%);
    --clr-color-neutral-700: hsl(120, 34%, 40%);
    --clr-color-neutral-800: hsl(120, 34%, 27%);
    --clr-color-neutral-900: hsl(120, 34%, 20%);
    --clr-color-neutral-1000: hsl(120, 34%, 0%);
    
    // Action palette -- buttons and clickable items
    // 198 is the correct temperature specified above as $clr-color-hue 198
    --clr-color-action-50: hsl(299, 40%, 94%);
    --clr-color-action-100: hsl(299, 40%, 88%);
    --clr-color-action-200: hsl(299, 40%, 78%);
    --clr-color-action-300: hsl(299, 40%, 69%);
    --clr-color-action-400: hsl(299, 40%, 57%);
    --clr-color-action-500: hsl(299, 40%, 46%);
    --clr-color-action-600: hsl(299, 40%, 38%);
    --clr-color-action-700: hsl(299, 40%, 34%);
    --clr-color-action-800: hsl(299, 40%, 27%);
    --clr-color-action-900: hsl(299, 40%, 21%);
    --clr-color-action-1000: hsl(299, 40%, 15%);
    
    // Secondary Action palette -- actions but off-the-beaten-path actions, like drag-and-drop
    --clr-color-secondary-action-50: hsl(29, 84%, 95%);
    --clr-color-secondary-action-100: hsl(29, 84%, 87%);
    --clr-color-secondary-action-200: hsl(29, 84%, 78%);
    --clr-color-secondary-action-300: hsl(29, 84%, 70%);
    --clr-color-secondary-action-400: hsl(29, 84%, 62%);
    --clr-color-secondary-action-500: hsl(29, 84%, 54%);
    --clr-color-secondary-action-600: hsl(29, 84%, 45%);
    --clr-color-secondary-action-700: hsl(29, 84%, 37%);
    --clr-color-secondary-action-800: hsl(29, 84%, 29%);
    --clr-color-secondary-action-900: hsl(29, 84%, 22%);
    --clr-color-secondary-action-1000: hsl(29, 84%, 14%);
    
    // Stoplight Danger color: alerts, error messaging, danger buttons
    --clr-color-danger-50: hsl(29, 100%, 97%);
    --clr-color-danger-100: hsl(29, 100%, 92%);
    --clr-color-danger-200: hsl(29, 100%, 86%);
    --clr-color-danger-300: hsl(29, 100%, 76%);
    --clr-color-danger-400: hsl(29, 100%, 67%);
    --clr-color-danger-500: hsl(29, 100%, 61%);
    --clr-color-danger-600: hsl(29, 100%, 50%);
    --clr-color-danger-700: hsl(29, 100%, 43%);
    --clr-color-danger-800: hsl(29, 100%, 38%);
    --clr-color-danger-900: hsl(29, 100%, 30%);
    --clr-color-danger-1000: hsl(29, 100%, 20%);
    
    --clr-color-success-50: hsl(179, 98%, 88%);
    --clr-color-success-100: hsl(179, 98%, 75%);
    --clr-color-success-200: hsl(179, 98%, 49%);
    --clr-color-success-300: hsl(179, 98%, 44%);
    --clr-color-success-400: hsl(179, 98%, 40%);
    --clr-color-success-500: hsl(179, 98%, 38%);
    --clr-color-success-600: hsl(179, 98%, 32%);
    --clr-color-success-700: hsl(179, 98%, 26%);
    --clr-color-success-800: hsl(179, 98%, 21%);
    --clr-color-success-900: hsl(179, 98%, 16%);
    --clr-color-success-1000: hsl(179, 98%, 13%);
    
    // specific to app -- pulled from respective clarity variables files...
    --clr-header-2-bg-color: var(--clr-color-success-1000);
    
    --clr-vertical-nav-item-active-color: var(--clr-color-neutral-0);
    --clr-vertical-nav-icon-active-color: var(--clr-vertical-nav-item-active-color);
    --clr-vertical-nav-active-bg-color: var(--clr-color-success-900);
    --clr-vertical-nav-hover-bg-color: var(--clr-color-neutral-700);
    
    --clr-card-border-color: var(--clr-color-neutral-400);
    --clr-forms-border-color: var(--clr-color-neutral-1000);
    
    --clr-alert-danger-bg-color: var(--clr-color-danger-700);
    --clr-alert-danger-border-color: var(--clr-alert-danger-bg-color);
    --clr-alert-danger-icon-color: var(--clr-color-neutral-0);
    --clr-alert-danger-font-color: var(--clr-color-neutral-0);

    --clr-alert-info-font-color: var(--clr-color-action-600);
}

// the following addresses a bug in the vertical-nav styles in Clarity
.clr-vertical-nav .nav-link.active {
    background-color: var(--clr-vertical-nav-active-bg-color, white);
}