// importing the Clarity SCSS

@import '~@clr/ui/src/color/variables.color';
@import '~@clr/ui/src/utils/variables.global';

.stripe {
    background-color: $clr-global-selection-color;
    // margin-left: -24px;
    // margin-right: -24px;
    // margin-top: 24px;
    // padding: 24px;
    margin-left: -1 * $clr_baselineRem_1;
    margin-right: -1 * $clr_baselineRem_1;
    margin-top: $clr_baselineRem_1;
    padding: $clr_baselineRem_1;

    // font-size: 12px;
    font-size: $clr_baselineRem_0_5;

    h1 {
        margin-top: 0;
        line-height: 1.1em;
    }

    p {
        margin-top: 0;
    }

    .clr-col-12 {
        // margin: 18px 0;
        margin: $clr_baselineRem_0_75 0;
    }

    .clr-row {
        // border-bottom: 1px solid $clr-color-neutral-500;
        border-bottom: $clr_baselineRem_1px solid $clr-color-neutral-500;
    }

    .clr-row:last-child {
        border-bottom: 0;
    }

    p + p {
        // margin-top: 12px;
        margin-top: $clr_baselineRem_0_5;
    }
}

.code {
    background: darken($clr-global-selection-color, 15%);
    color: $clr-color-action-900;
    border-radius: $clr-global-borderradius;

    // border: 1px solid $clr-color-action-900;
    border: $clr_baselineRem_1px solid $clr-color-action-900;

    // padding: 6px 12px;
    padding: $clr_baselineRem_0_25 $clr_baselineRem_0_5;

    font-family: monospace;
    
    p {
        color: $clr-color-action-900;
    }

    b {
        color: $clr-color-action-1000;
        font-weight: bolder;
    }
}

.branding svg {
    fill: $clr-color-neutral-0;
}